html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.header {
  padding: 60px;
  text-align: center;
  background: red;
  color: purple; }

.navbar {
  display: flex;
  background-color: purple;
  padding: 10px; }

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center; }

.navbar a:hover {
  background-color: gray;
  color: black; }

.row {
  display: flex;
  flex-wrap: wrap; }

.side {
  flex: 30%;
  background-color: gray;
  padding: 20px;
  min-height: 200px; }

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  min-height: 300px; }

.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px; }

.footer {
  padding: 20px;
  text-align: center;
  background: gray; }

@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column; } }

.center {
  justify-content: center;
  align-content: center; }

.even {
  justify-content: space-evenly; }

.flow-row {
  flex-flow: row nowrap; }

.flow-col {
  flex-flow: column wrap; }
